/*
Cores:
#00879A
#003A9A
verde: #009A60
*/

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #333;
}

#container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  background-color: #6f6f6f;
  width: 85vw;
  margin: 20px auto;
  border-radius: 5px;
  border-bottom: 2px solid #009A60;
  color: #fff;
}

#sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #3f3f3f;
  color: #00879A;
}

#sidebar-upper {
  width: 90%;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between; /* Add space between logo and site name */
  border-bottom: 1px solid #00879A; /* Add a bottom border to create the line */
  padding: 5px;
}

#sidebar-lower {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  border-bottom: 5px solid #009A60;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  padding: 1.2em 5em;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 0;
  color: #fff;
}

a {
  text-decoration: none;
  padding-left: 2px;
}

li:hover {
  transition: 0.3s;
  background-color: #009A60;
}

footer {
  color: #fff;
  background-color: #6f6f6f;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  height: 3em;
  border-radius: 10px 10px 0 0;
}
