.time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    margin: 1.2em;
    font-size: 1.2em;
}

.titulo {
    text-align: center;
}

.integrante {
    height: fit-content;
    width: 10em;
    text-align: center;
    box-sizing: border-box;
    padding: 1em;
}

@media (max-width: 980px) {
    .time {
        justify-content: center;
    }
    .titulo {
        font-size: 3.5em;
    }
    .integrante {
        font-size: 1.5em;
    }
}