.time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    margin: 1.2em;
}

h1 {
    text-align: left;
    float: left;
    clear: left;
}

.integrante {
    height: fit-content;
    width: 10em;
    text-align: center;
    box-sizing: border-box;
    padding: 1em;
}