{% extends "main.html" %}

{% block content %}

<script>
    document.getElementById('chat').style.backgroundColor = '#009A60'
</script>

<h1>Bate-Papo Tech</h1>

<!-- para cara item do banco de dados -->

<div class="bate-papo">
    <img src="" alt="Capa do bate papo">

    <h1>Título</h1>

    <section>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Nisi sint cumque officia ipsa maiores dignissimos. Ut
            ullam, quidem laboriosam molestiae assumenda beatae nostrum
            iste amet provident officiis quasi nobis qui.
        </p>
    </section>
</div>

<style>
    .bate-papo {
        padding: 3em;
        text-align: center;
    }
</style>

{% endblock %}