{% extends "main.html" %}

{% block head %}

<link rel="stylesheet" href="../static/css/home.css">

{% endblock %}

{% block content %}

<!-- ordenar por índice do conteúdo recebido no app.py -->



<!-- FIM DO CARROSSEL / INÍCIO DO CAMPO DE TEXTO  -->

<section id="apresentacao">
    
    <h1>Uma breve apresentação</h1>
    
    <div id="text-1">
        <p>O Display é um laboratório que tem como objetivo principal incentivar o
            desenvolvimento de jogos digitais e tecnologias inovadoras. Através de
            pesquisas e projetos educativos, o laboratório busca fomentar a criação
            de jogos que possam ser utilizados como ferramentas pedagógicas, além
            de proporcionar uma experiência prática para os estudantes.
        </p>
        
        <p>
            O laboratório também tem como objetivo formar profissionais 
            capacitados para atuar no mercado de jogos digitais, que é uma área
            em constante expansão e demanda cada vez mais profissionais 
             qualificados. Através de parcerias com empresas e instituições, o 
             Display busca criar oportunidades para que os estudantes possam 
             colocar em prática os conhecimentos adquiridos em sala de aula.
            </p>
            
            <p>
                Um dos principais projetos desenvolvidos pelo Display é o jogo 
                Indisciplina 2D, que aborda a problemática da indisciplina na 
                escola. O jogo foi criado com o objetivo de ajudar os professores a 
                lidar com esse problema de forma mais eficiente, proporcionando uma 
            experiência lúdica para os alunos ao mesmo tempo em que ensina 
            valores importantes como respeito e disciplina.
        </p>
        
        <p>
            Além disso, o Display também desenvolve projetos educativos como o 
            EducaRedes, que utiliza redes de PCs para promover a educação e o 
            aprendizado através de jogos. O projeto tem como objetivo principal 
            levar a tecnologia para dentro das salas de aula, tornando o 
            aprendizado mais interativo e divertido.
        </p>
        
        <p>
            Em resumo, o Display é um laboratório que tem como objetivo 
            incentivar a pesquisa e o desenvolvimento de jogos digitais e 
            tecnologias inovadoras, além de formar profissionais capacitados 
            para atuar no mercado de jogos digitais. Com projetos educativos 
            inovadores e uma equipe altamente qualificada, o laboratório tem se 
            destacado no cenário nacional e internacional de jogos digitais.
        </p>
        
        <div id="img"></div>
    </div>
    <h1>Conheça nossos conteúdos</h1>
</section>


<div id="baixaveis">
    
    <div id="bate-papo-home" class="baixavel">
        <h1>Bate-papo Tech</h1>
        
        <ul>
            <li>ep1. </li>
            <li>ep2. </li>
            <li>ep3. </li>
        </ul>
    </div>
    
    <div id="biblioteca" class="baixavel">
        <h1>Biblioteca</h1>
        
        <ul>
            <li>EducaRedes: Jogo Digital Educacional como Ferramenta de Auxílio no Ensino da Arquitetura TCP/IP</li>
            <li>pdf 2</li>
            <li>pdf 3</li>
            <li>pdf 4</li>
        </ul>
    </div>
    
    <div id="games" class="baixavel">
        <h1>Games</h1>

        <ul>
            <li>Indisciplina 2D</li>
            <li>Exterminando Drogas</li>
            <li>EducaRedes</li>
            <li>Peruaçu Digital</li>
        </ul>
    </div>

</div>

<section id="noticias">
    
    <h1>NOTÍCIAS</h1>
    
    <div class="carrossel" style="position: relative;">
        <a href="">
            <img src="" alt="">
        </a>
        <div class="carrosselBtns">
    
        </div>
    </div>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Esse eos, minus deserunt ratione mollitia perferendis
        alias quia eveniet dolorem magnam labore distinctio animi
        asperiores cum soluta eligendi rerum modi impedit!
    </p>
    
</section>

{% endblock %}

{% block script %}

<script src="../static/js/home.js"></script>

{% endblock %}