{% extends "main.html" %}

{% block head %}

<link rel="stylesheet" href="../static/css/institucional.css">

{% endblock %}


{% block content %}



<!-- para cara item do banco de dados -->
<div class="carrossel"></div>

<div id="biografiaDisplay">
    <!-- <img src="" alt="Capa do bate papo"> -->
    <h1>História do Laboratório de Desenvolvimento de Jogos Display</h1>

    <section>
        <p>
            O Laboratório de Desenvolvimento de Jogos Display teve seu início no Instituto Federal do Norte de Minas Gerais (IFNMG), localizado no campus Januária. O laboratório foi criado com o objetivo de incentivar a criação de jogos educacionais inovadores e promover a integração de tecnologia e educação.
            <br>
            <br>
            Desde sua fundação, o Display tem sido liderado e coordenado pela talentosa Joselice Lima. Com sua paixão por jogos e sua crença no poder da gamificação como ferramenta de aprendizado, Joselice tem desempenhado um papel fundamental no crescimento e sucesso do laboratório ao longo dos anos.
            <br>
            <br>
            O laboratório atraiu uma equipe multidisciplinar de estudantes e profissionais de diferentes áreas, como programação, design, pedagogia e psicologia. Essa diversidade permitiu que o Display abordasse de forma abrangente a criação de jogos educacionais, combinando elementos divertidos e interativos com conceitos educacionais relevantes.
            <br>
            <br>
            Ao longo de sua história, o laboratório desenvolveu vários jogos educacionais que tiveram um impacto significativo na comunidade escolar. Alguns desses jogos incluem:
            <br>
            <br>
            <strong>Indisciplina 2D</strong>: Um jogo que aborda questões relacionadas à disciplina escolar, incentivando os alunos a adotarem comportamentos adequados e a lidarem com desafios acadêmicos e sociais.
            <br>
            <strong>Exterminando Drogas</strong>: Um jogo que trata da conscientização sobre os efeitos das drogas e busca auxiliar os jovens a resistirem às pressões sociais, fornecendo informações precisas e estratégias de prevenção.
            <br>
            <strong>EducaRedes</strong>: Um jogo que usa a tecnologia mais adequada para o ensino da disciplina de redes de computadores, tem como proposta ensinar e reforçar o conteúdo da arquitetura TCP/IP nas disciplinas de redes e nos testes realizados em sala de aula obteve êxito no que se propôs a fazer.
            <br>
            <strong>Peruaçu Digital</strong>: Um jogo que explora a preservação do meio ambiente e a importância da conservação do Parque Nacional Cavernas do Peruaçu, localizado na região, incentivando a conscientização ambiental e o turismo sustentável.
            <br>
            <br>
            Esses jogos educacionais desenvolvidos pelo Display receberam reconhecimento tanto localmente quanto nacionalmente, conquistando prêmios em competições de jogos educativos. Além disso, o laboratório também publicou diversos artigos científicos, compartilhando suas experiências e metodologias inovadoras na criação de jogos educacionais.
            <br>
            <br>
            O Laboratório de Desenvolvimento de Jogos Display continua seu trabalho incansável, buscando sempre novas maneiras de combinar entretenimento e aprendizado. Sob a liderança dedicada de Joselice Lima, o laboratório continua a inspirar estudantes, educadores e pesquisadores a explorar o potencial dos jogos como ferramenta educacional, deixando um impacto duradouro na educação da região e além.
        </p>
    </section>
</div>

{% endblock %}


{% block script %}

<script src="../static/js/institucional.js"></script>

{% endblock %}