{% extends "main.html" %}

{% block head %}

<link rel="stylesheet" href="../static/css/institucional.css">

{% endblock %}


{% block content %}



<!-- para cara item do banco de dados -->

<div class="bate-papo">
    <!-- <img src="" alt="Capa do bate papo"> -->
    <div class="carrossel"></div>
    
    <h1>Bate-Papo Tech</h1>

    <h1>Título</h1>

    <section>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Nisi sint cumque officia ipsa maiores dignissimos. Ut
            ullam, quidem laboriosam molestiae assumenda beatae nostrum
            iste amet provident officiis quasi nobis qui.
        </p>
    </section>
</div>

{% endblock %}


{% block script %}

<script src="../static/js/institucional.js"></script>

{% endblock %}