{% extends "main.html" %}

{% block content %}



<!-- para cara item do banco de dados -->

<div class="bate-papo">
    <!-- <img src="" alt="Capa do bate papo"> -->
    <div class="carrossel"></div>
    
    <h1>Bate-Papo Tech</h1>

    <h1>Título</h1>

    <section>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Nisi sint cumque officia ipsa maiores dignissimos. Ut
            ullam, quidem laboriosam molestiae assumenda beatae nostrum
            iste amet provident officiis quasi nobis qui.
        </p>
    </section>
</div>

<style>
    .institucional {
        padding: 3em;
        text-align: center;
    }
    </style>
    <script>
        document.getElementById('institucional').style.backgroundColor = '#9A0087'
        document.getElementById('institucional').style.color = '#fff'
        document.getElementById('sidebar-lower').style.borderColor = '#9A0087'
        document.getElementsByClassName('container')[0].style.backgroundColor = 'rgba(154, 0, 135, 0.1)'
    </script>

{% endblock %}