<!DOCTYPE html>

<!-- main.html = index -->

<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="icon" type="image/x-icon" href="/static/images/logo/logo.png">
    <title>Display</title>

</head>

<body>

    <!-- Menu/Sidebar -->
    <div id="sidebar">

        <div id="sidebar-upper">
            <!-- {logo} Display -->
            <div style="display: flex; flex-direction: row; align-items: center;">
                <img src="/static/images/logo/logobordabranca.png" alt="Home" height="48px" width="48px"
                    style="padding: 1.4em;">
                <p style="font-size: 20px;">DISPLAY LAB</p>
            </div>

            <!-- {Login} -->

        </div>

        <div id="sidebar-lower">
            <ul id="routes">

                <a href="{{ url_for('home') }}">
                    <li id="home">HOME</li>
                </a>

                <a href="{{url_for('projetos')}}">
                    <li id="projetos"> PROJETOS</li>
                </a>

                <a href="{{ url_for('institucional') }}">
                    <li id="institucional">INSTITUCIONAL</li>
                </a>

                <a href="{{ url_for('sobre') }}">
                    <li id="sobre">QUEM SOMOS</li>
                </a>

            </ul>
        </div>

    </div>


    <div class="container">

        {% block content %}
        <!--Página a ser carregada!-->
        {% endblock %}

    </div>

    <footer>
        <h4>Segue a gente lá ;)</h4>
        <div id="redes-sociais">
            <a href="">
                <i class="fa-brands fa-instagram fa-2x"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-tiktok fa-2x"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-youtube fa-2x"></i>
            </a>

        </div>
        <h4>&copy; DISPLAY LAB - 2023</h4>
    </footer>

    <style>
        #redes-sociais {
            margin: 1.6em;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            gap: 10em;
        }

        a {
            text-decoration: none;
            color: black;
        }
    </style>

</body>

</html>