{% extends "main.html" %}

{% block head %}

<link rel="stylesheet" href="../static/css/projetoPodcast.css">

{% endblock %}


{% block content %}


<h1 id="tituloPrincipalDisplayCast">DisplayCast</h1>

<div id="descricaoDisplayCast">
    <p>
        Bem-vindo ao DisplayCast, um podcast fascinante que explora o mundo da tecnologia e carreira. Junte-se a nós para descobrir os últimos avanços tecnológicos, insights valiosos sobre desenvolvimento profissional e discussões instigantes com especialistas da indústria. Se você é um entusiasta de tecnologia, profissional em transição de carreira ou busca conselhos para se destacar, este é o podcast perfeito para você. Aperte o play e embarque nesta jornada emocionante para explorar o mundo da tecnologia e desvendar os segredos do sucesso profissional juntos!
    </p>
    <h2>Episodios:</h2>
</div>

<div id="todosEpisodios">
    <div class="episode">
        <h3>1. De estagiario a desenvolvedor senior em menos de 5 anos</h3>
        <p style="color: #fff; margin: 0px;">
            No episódio da vez, mergulhamos na inspiradora história de nosso convidado, um indivíduo excepcional que conseguiu alcançar o cargo de desenvolvedor sênior em menos de cinco anos, partindo de uma posição de estagiário. Nesta entrevista exclusiva, descobrimos as estratégias, desafios e aprendizados que levaram ele a trilhar uma jornada de sucesso tão impressionante.
            <span style="display: none;">
                Este episódio é uma fonte de inspiração para todos aqueles que almejam avançar em suas carreiras de tecnologia. Ao ouvir a história de nosso convidado, os ouvintes terão a oportunidade de absorver lições valiosas e insights práticos sobre como acelerar o crescimento profissional e atingir posições de destaque em um curto espaço de tempo.
                Prepare-se para uma jornada estimulante, repleta de conselhos valiosos, dicas práticas e reflexões inspiradoras. Este episódio certamente motivará todos aqueles que buscam conquistar seus objetivos profissionais em um ritmo acelerado. Não perca essa oportunidade de aprender com uma história de sucesso verdadeiramente excepcional!
            </span>
            <button class="mostrarMaisBtnPodcast">Mostrar mais</button>
        </p>
        <iframe class="episodioIframe" width="90%" src="https://www.youtube.com/embed/ZnuwB35GYMY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <button class="mostrarEpBtnPodcast">Mostrar episodio</button>
    </div>
    
    <div class="episode">
        <h3>2. De estagiario a desenvolvedor senior em menos de 5 anos</h3>
        <p style="color: #fff; margin: 0px;">
            No episódio da vez, mergulhamos na inspiradora história de nosso convidado, um indivíduo excepcional que conseguiu alcançar o cargo de desenvolvedor sênior em menos de cinco anos, partindo de uma posição de estagiário. Nesta entrevista exclusiva, descobrimos as estratégias, desafios e aprendizados que levaram ele a trilhar uma jornada de sucesso tão impressionante.
            <span style="display: none;">
                Este episódio é uma fonte de inspiração para todos aqueles que almejam avançar em suas carreiras de tecnologia. Ao ouvir a história de nosso convidado, os ouvintes terão a oportunidade de absorver lições valiosas e insights práticos sobre como acelerar o crescimento profissional e atingir posições de destaque em um curto espaço de tempo.
                Prepare-se para uma jornada estimulante, repleta de conselhos valiosos, dicas práticas e reflexões inspiradoras. Este episódio certamente motivará todos aqueles que buscam conquistar seus objetivos profissionais em um ritmo acelerado. Não perca essa oportunidade de aprender com uma história de sucesso verdadeiramente excepcional!
            </span>
            <button class="mostrarMaisBtnPodcast">Mostrar mais</button>
        </p>
        <iframe class="episodioIframe" width="90%" src="https://www.youtube.com/embed/ZnuwB35GYMY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <button class="mostrarEpBtnPodcast">Mostrar episodio</button>
    </div>
    
    <div class="episode">
        <h3>3. De estagiario a desenvolvedor senior em menos de 5 anos</h3>
        <p style="color: #fff; margin: 0px;">
            No episódio da vez, mergulhamos na inspiradora história de nosso convidado, um indivíduo excepcional que conseguiu alcançar o cargo de desenvolvedor sênior em menos de cinco anos, partindo de uma posição de estagiário. Nesta entrevista exclusiva, descobrimos as estratégias, desafios e aprendizados que levaram ele a trilhar uma jornada de sucesso tão impressionante.
            <span style="display: none;">
                Este episódio é uma fonte de inspiração para todos aqueles que almejam avançar em suas carreiras de tecnologia. Ao ouvir a história de nosso convidado, os ouvintes terão a oportunidade de absorver lições valiosas e insights práticos sobre como acelerar o crescimento profissional e atingir posições de destaque em um curto espaço de tempo.
                Prepare-se para uma jornada estimulante, repleta de conselhos valiosos, dicas práticas e reflexões inspiradoras. Este episódio certamente motivará todos aqueles que buscam conquistar seus objetivos profissionais em um ritmo acelerado. Não perca essa oportunidade de aprender com uma história de sucesso verdadeiramente excepcional!
            </span>
            <button class="mostrarMaisBtnPodcast">Mostrar mais</button>
        </p>
        <iframe class="episodioIframe" width="90%" src="https://www.youtube.com/embed/ZnuwB35GYMY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <button class="mostrarEpBtnPodcast">Mostrar episodio</button>
    </div>
</div>



{% endblock %}


{% block script %}

<script src="../static/js/projetoPodcast.js"></script>

{% endblock %}