{% extends "main.html" %}

{% block content %}

<script>
    document.getElementById('projetos').style.backgroundColor = '#147072'
    document.getElementById('projetos').style.color = '#fff'
    document.getElementById('sidebar-lower').style.borderColor = '#147072'
    document.getElementsByClassName('container')[0].style.backgroundColor = 'rgb(20, 112, 114, 0.1)'

    document.querySelector(":root").style.setProperty("--footBorderColor", "#147072")
</script>

<!-- Para cada Projeto: -->

<div class="carrossel"></div>

<!-- <img src="" alt="Capa do Projeto" width="600" height="800"> link da imagem, nome do projeto -->
<h1>Título do projeto</h1>

<p>Resumo sobre o Projeto</p>

<a href="#" id="saiba-mais">
    <div class="botao">
        SAIBA MAIS
    </div>
</a>

<!-- Podcast -->
<div class="projetoLayout1">
    <div class="projetoLayout1Upper">
        <h1 class="projetoLayout1Titulo">Podcast</h1>
        <p class="projetoLayout1Texto1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est asperiores, 
            neque tenetur aliquam, possimus id earum aperiam eos similique dignissimos, 
            minus totam autem beatae itaque cum iusto eaque modi porro!</p>
    </div>
    <div class="projetoLayout1Lower">
        <p class="projetoLayout1Texto2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est asperiores, 
            neque tenetur aliquam, possimus id earum aperiam eos similique dignissimos, 
            minus totam autem beatae itaque cum iusto eaque modi porro!Lorem ipsum 
            minus totam autem beatae itaque cum iusto eaque modi porro!</p>
        <img src="../static/images/logo/logo.jpg" alt="logo" class="projetoLayout1Image">
    </div>
    <a href="#" id="saiba-mais">
        <div class="botao">
            SAIBA MAIS
        </div>
    </a>
</div>



<!-- Bate-papo -->
<!-- Jogos -->

<div class="projetoLayout2">
    <div class="projetoLayout2Upper">
        <h1 class="projetoLayout2Titulo">Exterminando Drogas (GAME)</h1>
    </div>
    <div class="projetoLayout2Lower">
        <p class="projetoLayout2Texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est asperiores, 
            neque tenetur aliquam, possimus id earum aperiam eos similique dignissimos, 
            minus totam autem beatae itaque cum iusto eaque modi porro!Lorem ipsum 
            minus totam autem beatae itaque cum iusto eaque modi porro!</p>
        <img src="../static/images/logo/logo.jpg" alt="logo" class="projetoLayout2Image">
    </div>
    <a href="#" id="saiba-mais">
        <div class="botao">
            SAIBA MAIS
        </div>
    </a>
</div>

<!-- Comunicação -->
<!--  -->

<section id="project-details" style="display: none;">
    <h1>Sobre o projeto</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Facere cupiditate sequi commodi reiciendis
        vitae voluptatem suscipit illo veritatis dicta,
        quaerat ipsum possimus officia repellendus deserunt
        pariatur. Voluptas eos et aut!
    </p>
</section>

<script>
    const a = document.getElementById('saiba-mais')
    a.addEventListener('click', function (event) {
        event.preventDefault();
        const projectDetails = document.getElementById('project-details');
        projectDetails.style.display = 'block';
        a.style.display = 'none'
    });
</script>



{% endblock %}