{% extends "main.html" %}

{% block content %}
<script>
    document.getElementById('sobre').style.backgroundColor = '#003a9a'
    document.getElementById('sobre').style.color = '#fff'
    document.getElementById('sidebar-lower').style.borderColor = '#003a9a'
    document.getElementsByClassName('container')[0].style.backgroundColor = 'rgba(0, 58, 154, 0.1)'
    

</script>

<h1>DOCENTES</h1>
<div class="time">
    <div class="integrante">
        <img src="" alt="">
        <h3>Joselice Lima</h3>
        <h6>Funções</h6>
        <p>Descrição <br>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.

        </p>
    </div>
    <div class="integrante">
        <img src="" alt="">
        <h3>Tiago</h3>
        <h6>Funções</h6>
        <p>Descrição <br>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.

        </p>
    </div>
    <div class="integrante">
        <img src="" alt="">
        <h3>Heberth</h3>
        <h6>Funções</h6>
        <p>Descrição <br>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.

        </p>
    </div>
    <div class="integrante">
        <img src="" alt="">
        <h3>Gustavo</h3>
        <h6>Funções</h6>
        <p>Descrição <br>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.

        </p>
    </div>
</div>

<h1>Dev. Jogos</h1>

<div class="time">
    <div class="integrante">
        <img src="" alt="">
        <h3>Abraão</h3>
        <h6>Funções</h6>
        <p>Descrição <br>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.

        </p>
    </div>

    <div class="integrante">
        <img src="" alt="">
        <h3>Vytor Carvalho</h3>
        <h6>Funções</h6>
        <p>Descrição <br>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.

        </p>
    </div>
</div>

<h1>Mídias Digitais && Comunicação</h1>

<div class="time">
    <div class="integrante">
        <img src="" alt="">
        <h3>Tássia</h3>
        <h6>Funções</h6>
        <p>Descrição <br>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.

        </p>
    </div>
    <div class="integrante">
        <img src="" alt="">
        <h3>Arthur Matos</h3>
        <h6>Funções</h6>
        <p>Descrição <br>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.

        </p>
    </div>
    <div class="integrante">
        <img src="" alt="">
        <h3>Márcio Ferreira</h3>
        <h6>Funções</h6>
        <p>Descrição <br>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.

        </p>
    </div>
</div>

<div class="time">

</div>


<style>
    .time {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2em;
        margin: 1.2em;
    }

    h1 {
        text-align: left;
        float: left;
        clear: left;
    }

    .integrante {
        height: fit-content;
        width: 10em;
        text-align: center;
        box-sizing: border-box;
        padding: 1em;
    }


</style>

{% endblock %}