{% extends "main.html" %}

{% block head %}

<link rel="stylesheet" href="../static/css/sobre.css">

{% endblock %}


{% block content %}

<h1 class="titulo">DOCENTES</h1>

<div class="time">
    <div class="integrante">
        <img src="" alt="">
        <h3>Joselice Lima</h3>
        <h6>Funções</h6>
        <p>Descrição <br>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.

        </p>
    </div>
    <div class="integrante">
        <img src="" alt="">
        <h3>Tiago</h3>
        <h6>Funções</h6>
        <p>Descrição <br>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.

        </p>
    </div>
    <div class="integrante">
        <img src="" alt="">
        <h3>Heberth</h3>
        <h6>Funções</h6>
        <p>Descrição <br>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.

        </p>
    </div>
    <div class="integrante">
        <img src="" alt="">
        <h3>Gustavo</h3>
        <h6>Funções</h6>
        <p>Descrição <br>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.

        </p>
    </div>
</div>

<h1 class="titulo">Dev. Jogos</h1>

<div class="time">
    <div class="integrante">
        <img src="" alt="">
        <h3>Abraão</h3>
        <h6>Funções</h6>
        <p>Descrição <br>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.

        </p>
    </div>

    <div class="integrante">
        <img src="" alt="">
        <h3>Vytor Carvalho</h3>
        <h6>Funções</h6>
        <p>Descrição <br>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.

        </p>
    </div>
</div>

<h1 class="titulo">Mídias Digitais && Comunicação</h1>

<div class="time">
    <div class="integrante">
        <img src="" alt="">
        <h3>Tássia</h3>
        <h6>Funções</h6>
        <p>Descrição <br>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.

        </p>
    </div>
    <div class="integrante">
        <img src="" alt="">
        <h3>Arthur Matos</h3>
        <h6>Funções</h6>
        <p>Descrição <br>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.

        </p>
    </div>
    <div class="integrante">
        <img src="" alt="">
        <h3>Márcio Ferreira</h3>
        <h6>Funções</h6>
        <p>Descrição <br>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.

        </p>
    </div>
</div>

<div class="time">

</div>

{% endblock %}


{% block script %}

<script src="../static/js/sobre.js"></script>

{% endblock %}