{% extends "main.html" %}

{% block content %}
<script>
    document.getElementById('sobre').style.backgroundColor = '#003a9a'
    document.getElementById('sobre').style.color = '#fff'
    document.getElementById('sidebar-lower').style.borderColor = '#003a9a'
    document.getElementsByClassName('container')[0].style.backgroundColor = 'rgba(0, 58, 154, 0.1)'
    

</script>

<h1>Time Display Lab</h1>
<div id="time">
    <div class="integrante">
        <img src="" alt="">
        <h3>Nome</h3>
        <h6>Funções</h6>
        <p>Descrição <br>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.
            Dolor harum blanditiis quia,
            quas veniam dolorem pariatur
            ullam sequi adipisci laudantium
            ipsam a ab optio aperiam eius
            qui aliquam officiis asperiores!
        </p>
    </div>
    <div class="integrante">
        <img src="" alt="">
        <h3>Nome</h3>
        <h6>Funções</h6>
        <p>Descrição <br>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.
            Dolor harum blanditiis quia,
            quas veniam dolorem pariatur
            ullam sequi adipisci laudantium
            ipsam a ab optio aperiam eius
            qui aliquam officiis asperiores!
        </p>
    </div>
    <div class="integrante">
        <img src="" alt="">
        <h3>Nome</h3>
        <h6>Funções</h6>
        <p>Descrição <br>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.
            Dolor harum blanditiis quia,
            quas veniam dolorem pariatur
            ullam sequi adipisci laudantium
            ipsam a ab optio aperiam eius
            qui aliquam officiis asperiores!
        </p>
    </div>
    <div class="integrante">
        <img src="" alt="">
        <h3>Nome</h3>
        <h6>Funções</h6>
        <p>Descrição <br>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.
            Dolor harum blanditiis quia,
            quas veniam dolorem pariatur
            ullam sequi adipisci laudantium
            ipsam a ab optio aperiam eius
            qui aliquam officiis asperiores!
        </p>
    </div>
    <div class="integrante">
        <img src="" alt="">
        <h3>Nome</h3>
        <h6>Funções</h6>
        <p>Descrição <br>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.
            Dolor harum blanditiis quia,
            quas veniam dolorem pariatur
            ullam sequi adipisci laudantium
            ipsam a ab optio aperiam eius
            qui aliquam officiis asperiores!
        </p>
    </div>
    <div class="integrante">
        <img src="" alt="">
        <h3>Nome</h3>
        <h6>Funções</h6>
        <p>Descrição <br>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit.
            Dolor harum blanditiis quia,
            quas veniam dolorem pariatur
            ullam sequi adipisci laudantium
            ipsam a ab optio aperiam eius
            qui aliquam officiis asperiores!
        </p>
    </div>
</div>
<h1>Redes Sociais</h1>



<style>
    #time {
        display: flex;
        flex-wrap: wrap;
        background-color: #9f9f9f;
        justify-content: space-between;
        gap: 2em;
        padding: 5em;
        margin: 2em;

    }

    .integrante {
        height: 30em;
        width: 10em;
        text-align: center;
        box-sizing: border-box;
        padding: 1em;
        flex-basis: auto;
    }




</style>

{% endblock %}